<div class="flex min-h-screen">
  <!-- Sidebar -->
  <aside class="w-1/4 bg-gray-800 text-white p-4">
    <header class="text-2xl font-bold mb-4">Tariff Comparison</header>
    <nav>
      <ul class="space-y-4">
        <li>
          <a routerLink="/tariff-list" routerLinkActive="text-teal-400">
            <i class="fas fa-list-ul mr-2"></i> Tariff List
          </a>
        </li>
        <li>
          <a routerLink="/price-comparison" routerLinkActive="text-teal-400">
            <i class="fas fa-chart-line mr-2"></i> Price Comparison
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  
  <!-- Main Content -->
  <main class="w-3/4 p-4 bg-gray-200 flex flex-col  items-center">
    <header class="text-3xl font-bold text-gray-800">Welcome to Tariff Comparison</header>
    <router-outlet class="mt-10"></router-outlet>
  </main>
</div>